<nav class="nav nav-tabs" role="tablist">
    <ul class="nav nav-tabs" index="0" id="tabs-list">
      <li class="nav-item" index="#index+1"  *ngFor="let tab of dynamicTabs;">
        <a class="nav-link" href="#">
          {{tab.title}}
          <button type="button" class="close" aria-label="Close" (click)="closeTab(tab)">
            <span aria-hidden="true">&times;</span>
          </button>
        </a>
      </li>
    </ul>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="createTab()">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
      </li>
    </ul>
</nav>
<ng-template #dynamic></ng-template>
<router-outlet></router-outlet>
